@use 'sass:math';

@function hsv($h, $s, $v) {
  // Normalize h to degrees
  $h: math.div(0deg + $h, 1deg);
  $h: $h % 360;

  // Normalize s to fractions
  @if not math.is-unitless($s) {
    $s: math.div($s, 100%);
  }

  // Normalize v to fractions
  @if not math.is-unitless($v) {
    $v: math.div($v, 100%);
  }

  // https://en.wikipedia.org/wiki/HSL_and_HSV#HSV_to_RGB
  $c: $s * $v;
  $h: math.div($h, 60);
  $x: $c * (1 - math.abs($h % 2 - 1));

  $r: none;
  $g: none;
  $b: none;
  @if $h < 1 {
    $r: $c;
    $g: $x;
    $b: 0;
  } @else if $h < 2 {
    $r: $x;
    $g: $c;
    $b: 0;
  } @else if $h < 3 {
    $r: 0;
    $g: $c;
    $b: $x;
  } @else if $h < 4 {
    $r: 0;
    $g: $x;
    $b: $c;
  } @else if $h < 5 {
    $r: $x;
    $g: 0;
    $b: $c;
  } @else {
    $r: $c;
    $g: 0;
    $b: $x;
  }

  $m: $v - $c;
  $r: math.round(255 * ($r + $m));
  $g: math.round(255 * ($g + $m));
  $b: math.round(255 * ($b + $m));

  @return $r $g $b;
}
