@import 'notyf/notyf.min.css';

.notyf {
  @apply p-4;

  * {
    animation-delay: 0ms;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }

  &__toast {
    @apply p-0;
    @apply rounded-sm;
    @apply cursor-pointer;
    @apply shadow;
  }

  &__wrapper {
    @apply p-4;
  }

  &__message {
    @apply text-shade-8;
  }
}

@media only screen and (max-width: 480px) {
  .notyf {
    @apply p-4;
  }
}
