@import 'notyf/notyf.min.css';

.notyf {
  @apply p-4;

  * {
    animation-delay: 0ms !important;
    animation-duration: 150ms !important;
  }

  &__toast {
    @apply p-0;
    @apply rounded-sm;
    @apply cursor-pointer;
    @apply shadow;

    animation-timing-function: ease-out;

    &--disappear {
      animation-timing-function: ease-in;
    }
  }

  &__wrapper {
    @apply p-4;
  }

  &__message {
    @apply text-shade-8;
  }
}

@media only screen and (max-width: 480px) {
  .notyf {
    @apply p-4;
  }
}
