@reference '@/main.css';

@import 'notyf/notyf.min.css';

.notyf {
  @apply p-4;
}

@media only screen and (max-width: 480px) {
  .notyf {
    @apply p-4;
  }
}

.notyf * {
  @apply delay-0;

  animation-duration: 150ms !important;
}

.notyf__toast {
  @apply p-0;
  @apply rounded-xs;
  @apply cursor-pointer;
  @apply shadow-sm;
}

.notyf__toast--lower {
  @apply mt-4;
}

.notyf__wrapper {
  @apply px-2;
  @apply py-1.5;
}

.notyf__message {
  @apply text-shade-8;
  @apply font-medium;
}

@keyframes notyf-fadeinup {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes notyf-fadeoutdown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}
