@import 'notyf/notyf.min.css';

.notyf {
  @apply p-4;

  * {
    @apply delay-0;
    @apply duration-150;
  }

  &__toast {
    @apply p-0;
    @apply rounded-sm;
    @apply cursor-pointer;
    @apply shadow;

    &--lower {
      @apply mt-4;
    }
  }

  &__wrapper {
    @apply px-2;
    @apply py-1.5;
  }

  &__message {
    @apply text-shade-8;
    @apply font-medium;
  }
}

@media only screen and (max-width: 480px) {
  .notyf {
    @apply p-4;
  }
}

@keyframes notyf-fadeinup {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes notyf-fadeoutdown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}
