@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --shade-1: 235 237 242; /* hsv(220, 3%, 95%) */
  --shade-2: 223 225 230; /* hsv(220, 3%, 90%) */
  --shade-3: 91 103 128; /* hsv(220, 29%, 50%) */
  --shade-4: 72 82 102; /* hsv(220, 29%, 40%) */
  --shade-5: 63 72 89; /* hsv(220, 29%, 35%) */
  --shade-6: 54 62 77; /* hsv(220, 29%, 30%) */
  --shade-7: 45 51 64; /* hsv(220, 29%, 25%) */
  --shade-8: 36 41 51; /* hsv(220, 29%, 20%) */
  --brand-1: 110 163 204; /* hsv(206, 46%, 80%) */
  --brand-2: 103 153 191; /* hsv(206, 46%, 75%) */
  --brand-3: 96 143 179; /* hsv(206, 46%, 70%) */
  --red: 191 97 106;
  --orange: 208 135 112;
  --yellow: 235 203 139;
  --green: 163 190 140;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url('/src/assets/fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: oblique 14deg;
  src: url('/src/assets/fonts/inter.woff2') format('woff2');
}

@theme inline {
  --font-sans: Inter, Roboto, ui-sans-serif, sans-serif;
  --color-shade-1: rgb(var(--shade-1));
  --color-shade-2: rgb(var(--shade-2));
  --color-shade-3: rgb(var(--shade-3));
  --color-shade-4: rgb(var(--shade-4));
  --color-shade-5: rgb(var(--shade-5));
  --color-shade-6: rgb(var(--shade-6));
  --color-shade-7: rgb(var(--shade-7));
  --color-shade-8: rgb(var(--shade-8));
  --color-brand-1: rgb(var(--brand-1));
  --color-brand-2: rgb(var(--brand-2));
  --color-brand-3: rgb(var(--brand-3));
  --color-red: rgb(var(--red));
  --color-orange: rgb(var(--orange));
  --color-yellow: rgb(var(--yellow));
  --color-green: rgb(var(--green));
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-shade-6;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  html,
  body,
  #app {
    @apply h-full;
  }

  body {
    @apply bg-shade-8;
    @apply text-sm;
    @apply text-shade-2;
  }

  ::selection {
    @apply bg-brand-3;
    @apply text-shade-8;
  }

  * {
    @apply border-shade-6;

    scrollbar-width: none;

    &:focus-visible {
      @apply outline-hidden;

      &:not([tabindex^='-']) {
        @apply ring-2;
        @apply ring-brand-3;
      }
    }
  }
}

@utility disabled {
  @apply opacity-50;
  @apply pointer-events-none;
  @apply select-none;
}

@utility font-feature-tnum {
  font-feature-settings: 'tnum';
}

@utility skip-ink-none {
  text-decoration-skip-ink: none;
}

@custom-variant router-link-active (&.router-link-active, .router-link-active &);
