@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .disabled {
    @apply opacity-50;
    @apply select-none;
    @apply pointer-events-none;
  }
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url('./assets/fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  src: url('./assets/fonts/inter-italic.woff2') format('woff2');
}

:root {
  --gray-1: #2e3440;
  --gray-2: #3b4252;
  --gray-3: #434c5e;
  --gray-4: #4c566a;

  --white-1: #eceff4;
  --white-2: #e5e9f0;
  --white-3: #d8dee9;

  --red: #bf616a;
  --green: #a3be8c;
  --blue: #5e81ac;
}

body {
  @apply bg-gray-1;
  @apply text-white-1;

  font-family: Inter, Roboto, ui-sans-serif, sans-serif;
  font-feature-settings: 'cv07';
}

::selection {
  @apply bg-blue;
}
